.scroll-to-top{
    background: #f8b600;
    position: fixed;
    bottom: 50px;
    right: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    text-decoration: none;
    pointer-events: none;
    transition: all .4s;
}
.scroll-to-top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

.scroll-to-top img{
    fill: #222222;
}